h1 Welcome to my RoR blog
p  You have visited this page #{session[:times_here]} times.

h1 Home#index
p.alert.alert-primary Find me in app/views/home/index.slim

= render "components/page/page" do
  p.alert.alert-success Hello from our first component!
